# List

In [1]:
mylist = [1,2,3,4]

In [2]:
my2dlist = [[1,2,3,4],[5,6,7,8]]

In [3]:
my2dlist

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [4]:
for x in my2dlist:
    print(x)

[1, 2, 3, 4]
[5, 6, 7, 8]

In [5]:
for lst in my2dlist:
    for i in lst:
        print(i)

1
2
3
4
5
6
7
8

# 3D list

In [6]:
my3dList = [
    [
        [1,2,3,4],[5,6,7,8]
    ]
    
]

In [7]:
my3dList

[[[1, 2, 3, 4], [5, 6, 7, 8]]]

In [8]:
%timeit numbers = list(range(1,1000))

15.3 µs ± 595 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [9]:
numbers

NameError: name 'numbers' is not defined

-append()
-extend()
-pop()
-remove()

In [ ]:
mylist = [1,2,3,4]

In [ ]:
mylist.append(4)

In [ ]:
mylist

In [ ]:
mylist2 = [5,9,8,7]

In [ ]:
mylist.append(mylist2)
mylist

In [ ]:
mylist2 = [5,9,8,7]
mylist.extend(mylist2)
mylist

In [ ]:
list3 = mylist + mylist2
list3

In [18]:
mylist = [1,2,3,4,5]

In [16]:
number = mylist.pop()
mylist

[1, 2, 3, 4]

In [17]:
number

5

In [19]:
mylist.remove(5)

In [20]:
mylist

[1, 2, 3, 4]

In [21]:
names = ["Ayesha","Zubair","IMRAN KHAN"]

In [22]:
names.remove("Zubair")

In [23]:
names

['Ayesha', 'IMRAN KHAN']

In [24]:
del names[0]

In [25]:
names

['IMRAN KHAN']

In [26]:
del names

In [28]:
names = []

# list Comprehensions

In [29]:
even = [x for x in range(1,10) if x%2 == 0]

In [30]:
even = []
for x in range(1,10):
    if x%2 ==0:
        even.append(x)

[2, 4, 6, 8]

In [31]:
name = "Maryam"

In [32]:
print(f"Hello {name} would you like to learn some python Today?")

Hello Maryam would you like to learn some python Today?

In [33]:
names = ["Maryam","Ayesha","ALI","Umar"]

In [34]:
for name in names:
    print(f"Hello {name} would you like to learn some python Today?")

Hello Maryam would you like to learn some python Today?
Hello Ayesha would you like to learn some python Today?
Hello ALI would you like to learn some python Today?
Hello Umar would you like to learn some python Today?

In [35]:
for x in range(1,10):
    print(f"Hello Maryam would you like to learn some python Today?")

Hello Maryam would you like to learn some python Today?
Hello Maryam would you like to learn some python Today?
Hello Maryam would you like to learn some python Today?
Hello Maryam would you like to learn some python Today?
Hello Maryam would you like to learn some python Today?
Hello Maryam would you like to learn some python Today?
Hello Maryam would you like to learn some python Today?
Hello Maryam would you like to learn some python Today?
Hello Maryam would you like to learn some python Today?

In [ ]:
# sorting

In [36]:
mylist = [3,1,2,5,4,8,7]
# 1-max - assending order
# max-1 - dessending order

In [37]:
mylist.sort()

In [38]:
mylist

[1, 2, 3, 4, 5, 7, 8]

In [39]:
mylist.sort(reverse = True)

In [40]:
mylist

[8, 7, 5, 4, 3, 2, 1]

In [43]:
mylist = ['a','c','b','d','f','m','g']

In [44]:
mylist.sort()

In [45]:
mylist

['a', 'b', 'c', 'd', 'f', 'g', 'm']